<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="basecamera.module.lib">

    <application android:theme="@style/BaseCamera_AppTheme">>
        <activity
            android:name="basecamera.module.activity.BaseCameraTakePhotoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="basecamera.module.activity.BaseCameraGalleryActivity"
            android:launchMode="singleTask" />
    </application>
</manifest>
