<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="basecamera.module.lib">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:theme="@style/BaseCamera_AppTheme.NoActionBar">
        <activity
            android:name="basecamera.module.activity.BaseCameraTakePhotoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="basecamera.module.activity.BaseCameraGalleryActivity"
            android:launchMode="singleTask" />
    </application>
</manifest>
